<header>
  <div class="header">
    <div>
      <div class="demographic_Details_name">{{ name }}</div>
      <div class="demographic_Details_meta">
        <span>{{ getAge(dob) }} Years {{ gender }} </span>
        <span>DOB: {{ getDateOfBirth(dob) }} </span>
      </div>
    </div>
  </div>
</header>

<!-- <router-outlet></router-outlet>-->

<div class="medication_table">
  <mat-card>
    <mat-card-title>
      Patient Medication Orders
    </mat-card-title>
    <mat-card-content>
      <div>
        <table>
          <thead>
            <tr>
              <th>Medicine</th>
              <th>Dosage Instruction</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of medicationdetails">
              <td>
                {{ detail.name || '' }}
              </td>
              <td>
                {{ detail.dosageInstruction || '' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
